<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap-grid.min.css" integrity="sha512-Xj2sd25G+JgJYwo0cvlGWXoUekbLg5WvW+VbItCMdXrDoZRWcS/d40ieFHu77vP0dF5PK+cX6TIp+DsPfZomhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />           
        <link rel="stylesheet" href="css/harta.css">
    </head>
    <body>
        <div id="map"></div>
        
        <div class="nav-wrapper" id="navi">
            <div class="tab" id="tabbing">
                <button class="tablinks" ><a href="/"><div class="row d-flex justify-content-center"><span class="col-md-12 d-flex justify-content-center"><i class="fas fa-arrow-circle-left"></i></span><span>Inapoi</span></div></a></button>
                <button class="tablinks d-flex justify-content-center" onclick="openMenu(event, 'Wagepedia')"><div class="row d-flex justify-content-center"><span class="col-md-12 d-flex justify-content-center"><i class="fas fa-book"></i></span><span>Wagepedia</span></div></button>
                <button class="tablinks d-flex justify-content-center"><div class="row d-flex justify-content-center"><span class="col-md-12 d-flex justify-content-center"><i class="fas fa-chart-bar"></i></span><span>Istoric</span></div></button>
                <button class="tablinks d-flex justify-content-center" onclick="openMenu(event, 'Grui')"><div class="row d-flex justify-content-center"><span class="col-md-12 d-flex justify-content-center"><i class="fas fa-book"></i></span><span>TEST</span></div></button>
              </div>
        </div>
        <div id="Wagepedia" class="tabcontent">
            <div class="tabHeader d-flex align-items-center">
                <h1 class="ml-4">WAGEPEDIA</h1>
            </div>
            <div class="row h-100">
                <div class="scrollable col-md-4">
                    <div class="row">
                        <h5 class="col-md-12 pt-5 pb-1">DESPRE PLATFORMA</h5>
                        <a href="#" class="col-md-12 pt-2 pb-2">Senzorii W.A.G.E.</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Date meteo</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Valorile maxime admise ale poluantilor</a>
                        <h5 class="col-md-12 pt-5 pb-1">DESPRE POLUAREA AERULUI</h5>
                        <a href="#" class="col-md-12 pt-2 pb-2">Ce este smogul?</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Cum se formeaza smogul?</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Cum ne afecteaza poluarea aerului?</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Ce pot face pentru a îmbunătăți calitatea aerului?</a>
                        <h5 class="col-md-12 pt-5 pb-1">Cine suntem noi?</h5>
                        <a href="#" class="col-md-12 pt-2 pb-2">W.A.G.E. Team</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Galerie</a>
                        <a href="#" class="col-md-12 pt-2 pb-2">Alte proiecte realizate de noi</a>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <div style="margin-top: 300px;" class="row justify-content-center d-flex">
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
          <div id="Grui" class="tabcontent">
              <div class="cardHeader">
                <div class="image" style="width: 370px; height: 170px; background-color: black;"></div>
                <h3 class="wip">Work in progress...Not yet finished</h3>
            </div>
            <p class="time">Rezultate din 21/2/2022 4:52</p>
            <p class="source">Sursa <a href="#">W.A.G.E. Sensors</a></p>

            <div class="particule row">
                <h3 class="title col-md-12">PARTICULE</h3>
                <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                    <div class="bubble d-flex align-items-center justify-content-center">
                        <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM1.0</h5>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                    <h3>PM 1.0</h3>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                    <p><span id="pm10" class="big"></span> ug/m3</p>
                </div>
                
            </div>
            <div class="particule row">
                <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                    <div class="bubble d-flex align-items-center justify-content-center">
                        <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM10</h5>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                    <h3>PM 10</h3>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                    <p><span id="pm100" class="big"></span> ug/m3</p>
                </div>
                
            </div>
            <div class="particule row">
                <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                    <div class="bubble d-flex align-items-center justify-content-center">
                        <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM25</h5>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                    <h3>PM 25</h3>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                    <p><span id="pm250" class="big"></span> ug/m3</p>
                </div>
                
            </div>
            <div class="particule row">
                <h3 class="title col-md-12">Altele</h3>
                <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                    <div class="bubble d-flex align-items-center justify-content-center">
                        <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Temp</h5>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                    <h3>Temperatura</h3>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                    <p><span id="temperature0" class="big"></span> °C</p>
                </div>
          </div>
          <div class="particule row">
            <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                <div class="bubble d-flex align-items-center justify-content-center">
                    <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Pres</h5>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                <h3>Presiune</h3>
            </div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <p><span id="pressure0" class="big"></span> Pa</p>
            </div>
          </div>
          <div class="particule row">
            <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
                <div class="bubble d-flex align-items-center justify-content-center">
                    <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Hum</h5>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
                <h3>Umiditate</h3>
            </div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <p><span id="humidity0" class="big"></span> % RH</p>
            </div>
          </div>

      </div>
      <div id="ApaS" class="tabcontent">
        <div class="cardHeader">
          <div class="image" style="width: 370px; height: 170px; background-color: black;"></div>
          <h3 class="wip">Work in progress...Not yet finished</h3>
      </div>
      <p class="time">Rezultate din 21/2/2022 4:52</p>
      <p class="source">Sursa <a href="#">W.A.G.E. Sensors</a></p>

      <div class="particule row">
          <h3 class="title col-md-12">PARTICULE</h3>
          <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
              <div class="bubble d-flex align-items-center justify-content-center">
                  <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM1.0</h5>
              </div>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
              <h3>PM 1.0</h3>
          </div>
          <div class="col-md-6 d-flex flex-row-reverse">
              <p><span id="pm11" class="big"></span> ug/m3</p>
          </div>
          
      </div>
      <div class="particule row">
          <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
              <div class="bubble d-flex align-items-center justify-content-center">
                  <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM10</h5>
              </div>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
              <h3>PM 10</h3>
          </div>
          <div class="col-md-6 d-flex flex-row-reverse">
              <p><span id="pm101" class="big"></span> ug/m3</p>
          </div>
          
      </div>
      <div class="particule row">
          <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
              <div class="bubble d-flex align-items-center justify-content-center">
                  <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >PM25</h5>
              </div>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
              <h3>PM 25</h3>
          </div>
          <div class="col-md-6 d-flex flex-row-reverse">
              <p><span id="pm251" class="big"></span> ug/m3</p>
          </div>
          
      </div>
      <div class="particule row">
          <h3 class="title col-md-12">Altele</h3>
          <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
              <div class="bubble d-flex align-items-center justify-content-center">
                  <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Temp</h5>
              </div>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
              <h3>Temperatura</h3>
          </div>
          <div class="col-md-6 d-flex flex-row-reverse">
              <p><span id="temperature1" class="big"></span> °C</p>
          </div>
    </div>
    <div class="particule row">
      <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
          <div class="bubble d-flex align-items-center justify-content-center">
              <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Pres</h5>
          </div>
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
          <h3>Presiune</h3>
      </div>
      <div class="col-md-6 d-flex flex-row-reverse">
          <p><span id="pressure1" class="big"></span> Pa</p>
      </div>
    </div>
    <div class="particule row">
      <div class="col-md-2  d-flex align-items-center justify-content-end pr-0 mr-0">
          <div class="bubble d-flex align-items-center justify-content-center">
              <h5 style=" margin: 0; padding: 0; font-size: 70%;" class="d-flex justify-content-center align-items-center" >Hum</h5>
          </div>
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-start ml-2 pl-0">
          <h3>Umiditate</h3>
      </div>
      <div class="col-md-6 d-flex flex-row-reverse">
          <p><span id="humidity1" class="big"></span> % RH</p>
      </div>
    </div>

</div>
    </body>
    <script src="js/map.js"></script>
    <script src="js/sensorAPI.js"></script>
</html>

<!-- <h1 id="pm10">23</h1>
<h1 id="pm100">23</h1> 
<h1 id="pm250">23</h1>
<h1 id="pressure0">23</h1>
<h1 id="temperature0">23</h1>
<h1 id="humidity0">23</h1>
<h1 id="pm11">23</h1>
<h1 id="pm12">23</h1>
<div id="graph0"></div> -->